{% extends "layout.html" %}

{% block heading %}
  Please register for an account!
{% endblock %}

{% block body %}
<h2>
  <div class="middle">
  <form action="{{ url_for('register') }}" method="post">
    <input type="text" name="username" placeholder="Enter a username" required><br/><br/>
    <input type="password" name="password" placeholder="Enter a password" required><br/><br/>
    <input type="text" name="email" placeholder="Enter your email" required><br/><br/>
    <button class="btn btn-outline-secondary">Register</button>
    <a href="/gotologin" class="btn btn-outline-dark" role="button">Already have an account?</a>
  </form>
  </div></h2>

{% endblock %}
