{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
  <div class="left"><h4>You are logged in as: {{ username }}<br/><br/>
  <a href="/logout" class="btn btn-outline-dark" role="button">Log out</a></h4></div>
  <div class="middle">
    <h5>Search by Title, Author, or ISBN</h5>
    <h2>
    <form action="/search" method="post">
      <input type="text" name="searched" placeholder="Search here" required>
      <button class="btn btn-outline-secondary">Search</button>
    </form></h2></div>
{% endblock %}
