{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
  <h4>You are logged in as: {{ username }}<br/>
  <a href="/logout" class="btn btn-outline-dark" role="button">Log out</a></h4>
  <div class="middle">
    <h4>Search by Title, Author, or ISBN</h4>
    <h2>
    <form action="{{ url_for('search') }}" method="post">
      <input type="text" name="searched" placeholder="Search here" required>
      <button class="btn btn-outline-secondary">Search</button>
    </form></h2></div>
{% endblock %}
